# Python Data Structures

## Lists

In [1]:
# Create a list using bracket syntax
presidents= ['Washington', 'Adams', 'Jefferson']

In [3]:
# Assess using indes(0-indexed)
print('First item in list:' + presidents[0])

First item in list:Washinton

In [4]:
print('First through third item in list: ' +str(presidents[0:3]))

First through third item in list: ['Washinton', 'Adams', 'Jefferson']

In [6]:
# Access all (use loop)
print('loop through list items, one by one: ')
for p in presidents:
    print(p)

loop through list items, one by one:
Washinton
Adams
Jefferson

In [7]:
# Add list item
print("Add 'Madison' list item...")
presidents.append('Madison')
print('All items: ' +str(presidents))

Add 'Madison' list item...
All items: ['Washinton', 'Adams', 'Jefferson', 'Madison']

In [8]:
# Remove list item
print("Remove 'Madison' list item...")
presidents.remove('Madison')
print('All items: ' +str(presidents))

Remove 'Madison' list item...
All items: ['Washinton', 'Adams', 'Jefferson']

## Tuples

In [10]:
# Create a tuple()
presidents= ('Washington', 'Adams', 'Jefferson')

In [11]:
# Assess using indes(0-indexed)
print('First item in tuple:' + presidents[0])

First item in tuple:Washington

In [12]:
print('First through third item in tuple: ' +str(presidents[0:3]))

First through third item in tuple: ('Washington', 'Adams', 'Jefferson')

In [13]:
# Access all (use loop)
print('loop through tuple items, one by one: ')
for p in presidents:
    print(p)

loop through tuple items, one by one:
Washington
Adams
Jefferson

In [16]:
# Remove entire tuple
print('Removing entire tuple')
del presidents
print(presidents)

Removing entire tuple

NameError: name 'presidents' is not defined

## Dictionaries

In [18]:
# Create a dict {} curly brace syntax
states = {'CO': 'Colorado', 'WA': 'Washington'}

In [19]:
# Access value for single key
print("Access value for 'CO': " + states['CO'])

Access value for 'CO': Colorado

In [20]:
# Access all (use loop)
print('Loop through dictionary, one by one:')
for key,value in states.items():
    print(key+ '->' + value)

Loop through dictionary, one by one:
CO->Colorado
WA->Washington

In [23]:
# Add key-value pairs
print("Add 'Indiana' to dictionary...")
states.update({'IN': 'Indiana'})
print("All key-value pairs: " + str(states))

Add 'Indiana' to dictionary...
All key-value pairs: {'CO': 'Colorado', 'WA': 'Washington', 'IN': 'Indiana'}

In [24]:
# Remove key-value pair
print("Remove 'Indiana' from dictionary...")
del states['IN']
print("All key-value pairs: " +str(states))

Remove 'Indiana' from dictionary...
All key-value pairs: {'CO': 'Colorado', 'WA': 'Washington'}

## Using lists as stacks

In [25]:
stack = [3,4,5]

In [27]:
# To add elements to the stack
stack.append(6)
stack.append(7)

In [28]:
stack

[3, 4, 5, 6, 6, 7]

In [32]:
# To remove elements from stack
stack.pop()

7

In [33]:
stack

[3, 4, 5, 6, 6]

## Using lists as Queues

In [34]:
# Use collections.deque for faster appends and pops from both ends
from collections import deque
queue = deque(['Eric', 'John', 'Michael'])

In [36]:
queue.append('Terry')

In [37]:
queue

deque(['Eric', 'John', 'Michael', 'Terry', 'Terry'])

In [38]:
# To remove the first to arrive
queue.popleft()

'Eric'

In [42]:
queue

deque(['John', 'Michael', 'Terry', 'Terry'])

## List Comprehensions

In [46]:
# Comprehensions are more coincise ways to make lists
squares = []
for x in range(10):
    squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
# Same as:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [50]:
# Also:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [51]:
# A list comprehension consists of brackets followed by a for clause then zero or more for or if clauses
[(x,y) for x in[1,2,3] for y in [3,1,4] if x!=y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [52]:
# Or:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x!= y:
            combs.append((x,y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]